<footer class="footer">
  <small>
    Rails Starter
    by
    <a href="#">James Nguyen</a>
  </small>
  <nav>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/james-ng">About</a>
      </li>
    </ul>
  </nav>
</footer>
